.hidden {
    visibility: none;
}

.user-profile {
    width: 100%;
    padding: 40px 40px 15px 40px;
}

.user-profile .indent {
    margin-left: 22px;
}

/***** HEADER PROFILE ******/

.user-profile .header {
    background: linear-gradient(90deg, #fbc2d8, #fff4e0);
    position: relative;
    height: 120px;
    margin-bottom: 75px;
    border-radius: 20px;
}

.user-profile .header .profile-pic {
    position: absolute;
    bottom: -50px;
    left: 20px;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    overflow: hidden;
}

.user-profile .header .profile-pic img {
    position: inherit;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    border: 4px solid var(--bg-main);
    object-fit: cover;
    object-position: center;
}

.user-profile .header .user-follow-btn {
    position: absolute;
    right: 0;
    bottom: -60px;
    cursor: pointer;

    background: var(--gr-accent);
    padding: 10px 50px;
    font-size: var(--fs-l);
    font-weight: 600;
    color: var(--text-contrast);
    letter-spacing: -0.05em;
    border-radius: 30px;
}

.user-profile .header .following {
    background: var(--bg-main);
    border: 1px solid var(--secondary-main);
    color: var(--secondary-main);
}

.user-profile .header .user-edit-profile-btn {
    position: absolute;
    right: 0;
    bottom: -60px;

    border: 1px solid var(--secondary-main);
    padding: 10px 35px;
    font-size: var(--fs-md);
    font-weight: 600;
    color: var(--secondary-main);
    letter-spacing: -0.05em;
    border-radius: 30px;
    transition: 0.2s;
    cursor: pointer;
}

.user-profile .header .user-edit-profile-btn i {
    font-size: var(--fs-sm);
}

.user-profile .header .user-edit-profile-btn:hover {
    background: var(--secondary-lighter);
}

.user-profile .user-profile-details {
    margin-bottom: 30px;
}

.user-profile .user-profile-details .user-username {
    font-size: var(--fs-xxl);
    font-weight: 600;
}

.user-profile .user-profile-details .user-stats {
    color: var(--text-contrast-dark);
    margin-bottom: 10px;
}

.user-profile .user-profile-details .user-stats span {
    margin-right: 10px;
    position: relative;
}

.user-stats-modal {
    position: absolute;
    top: 0px;
    left: 50px;
    z-index: 13;
}

.user-stats-modal ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 220px;
    height: 100px;
    background-color: white;
    border-radius: 10px;
    overflow-x: hidden;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.4);  /* box-shadow: [offset-x] [offset-y] [blur-radius] [spread-radius] [color] [inset]; */
    color: black;
}

.user-stats-modal li {
    display: flex;
    align-items: center;
    margin: 6px;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.user-stats-modal li:hover {
    background: #dedede;
}

.user-stats-modal li:active {
    background: #bdbdbd;
}

.user-profile .user-profile-details .bio {
    height: auto;
    white-space: pre-line;
}

.user-profile .user-profile-nav {
    border-bottom: 1px solid #aaa;
    position: relative;
}

.user-profile .user-profile-nav .user-nav-item {
    display: inline-block;
    text-align: center;
    position: relative;
    background: var(--gr-accent); /* gradient colors */
    -webkit-background-clip: text; /* clip gradient to text */
    -webkit-text-fill-color: transparent; /* make text fill transparent */
    background-clip: text; /* standard property (for non-webkit browsers) */
    width: 100px;
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    font-size: var(--fs-l);
    border: none;
    color: var(--tertiary-main);
    padding: 10px 0;
    cursor: pointer;
    transition: left 0.5s step-end;
}

.user-profile .user-profile-nav .user-nav-item input{
    display: none;
}

.user-profile .user-profile-nav::after {
    position: absolute;
    bottom: -1.5px;
    z-index: 10;
    content: '__________________';
    color: transparent;
    width: 100px;
    height: 2px;
    background: linear-gradient(to right, #9e005d, #ff5757, #9e005d);
    transition: left 0.3s ease;
}

.user-profile-nav:has(.reviews input:checked)::after {
    left: 0;
}

.user-profile-nav:has(.likes input:checked)::after {
    left: 100px;
}

.user-profile .hidden {
    display: none;
}

.user-reviews, .user-likes {
    min-height: 10vw;
    position: relative
}