.profile-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle at center, rgba(255, 87, 87, .2), rgba(158, 0, 93, .2));
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.3s ease;
}

.profile-modal-content {
    display: flex;
    flex-direction: column;
    background: var(--bg-main);
    padding: 40px 40px 60px 40px;
    border-radius: 20px;
    width: 650px;
    border: 1px solid var(--primary-main);
    position: relative;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

    transform: translateY(20px) scale(0.99);
    transition: transform 0.2s ease;
}

.profile-modal-overlay.open {
    opacity: 1;
    visibility: visible;
}

.profile-modal-overlay.open .profile-modal-content {
    /* Ease up */
    transform: translateY(0) scale(1);
}

.profile-modal-title {
    background: var(--gr-accent);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-family: "Carollo Playscript", italic;
    letter-spacing: var(--ls-very-tight);
    font-size: var(--fs-xxxl);
    margin-bottom: 25px;
    margin-top: -5px;
    text-align: center;
}

.edit-container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 30px
}

.edit-picture {
    position: relative;
}

.edit-picture, .edit-picture img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    /* box-shadow: -1px 1px 5px rgba(54, 52, 53, 0.5); */
    cursor: pointer;
}

.edit-picture .change-picture { 
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: cyan;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--secondary-main);
    color: var(--secondary-light);
    font-weight: 600;
    opacity: 0; 
    transition: opacity 0.3s;
}

.edit-picture .change-picture:hover {
    opacity: 0.5; 
}

.edit-picture .change-picture i {
    font-size: var(--fs-xxxl);
}
.edit-picture .change-picture span {
    text-align: center;
    width: 50%;
    font-size: var(--fs-m);
}

.edit-item-container {
    position: relative;
    margin-top: 5px;
    margin-bottom: 20px;
}

.edit-details label {
    font-size: 15px;
    color: var(--secondary-main);
    font-weight: 600;
}

.edit-details input[type="text"], .edit-details textarea{
    padding: 10px;
    background: var(--bg-main);
    border: 1px solid var(--secondary-main);
    border-radius: 10px;
    width: 100%;
    transition:
        box-shadow 0.25s ease,
        transform 0.15s ease;
}

.edit-details input[type="text"]:focus, .edit-details textarea:focus {
    outline: none; 
    transform: scale(1.01);
}

.edit-details #user-bio {
    height: 5rem;
}

.edit-details .save {
    position: absolute;
    background: var(--gr-accent);
    color: var(--text-contrast);
    font-weight: 600;
    right: 40px;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
