.artist-block {
    color: black;
    background-color: white;
    border: 1px solid #bdbdbd;
    border-radius: 20px;
    margin: 1px 0px;
}

.artist-block:hover {
    background: linear-gradient(to right, rgba(158, 0, 92, 0.15), rgba(255, 87, 87, 0.15), rgba(158, 0, 92, 0.15) );
}

.artist-block .block-content {
    display: flex;
    gap: 20px;
    margin: 15px 30px 15px 15px ;
}

.artist-block .artist-details * {
    margin-bottom: 15px;
}

.artist-block .top-block *, .artist-block .bottom-block * {
    margin-bottom: 0px;
}

.artist-block .profile {
    background: rgb(99, 22, 22);
    width: 135px;
    height: 135px;
    border-radius: 100%;
    margin: 10px;
}

.artist-block .profile-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 100%;
}

.artist-block .name {
    font-weight: 600;
}
