
.nothing-block, .loading-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.nothing-block div{
    color: #aaa;
    margin-top: 10px;
    font-size: 20px;
}

.nothing-block i{
    display: inline-block;
    font-size: 50px;
    margin-top: 50px;
}


.loading-block .loading-frame {
    width: 80px;
    height: 80px;
    background: white;
    border-radius: 100%;

    /* animation */
    border: 12px solid var(--primary-light);
    border-right-color: var(--primary-dark);
    animation: spin 0.8s ease infinite;
}

.loading-block .message{
    display: inline-block;
    color: var(--primary-dark);
    margin-top: 10px;
    font-size: 20px;
    font-size: 50px;
    margin-top: 50px;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.back-btn {
    background: var(--gr-accent); /* gradient colors */
    -webkit-background-clip: text; /* clip gradient to text */
    -webkit-text-fill-color: transparent; /* make text fill transparent */
    background-clip: text; /* standard property (for non-webkit browsers) */
    border: none;
    margin-bottom: 10px;
    cursor: pointer;
}

.back-btn:hover {
    opacity: 0.5;
}

.alert-message {
    position: absolute;
    display: flex;
    align-items: center;
    height: 50px;
    width: 80%;
    border-radius: 15px;
    margin: 15px;
    padding: 15px;
    z-index: 50;

    /* Styling */
    box-shadow: 1px 2px 5px rgba(160, 160, 160, 0.3);
    animation: slideInOut 2s ease-in-out forwards;
}

@keyframes slideInOut {
    /* 0% to 15%: Slide In */
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    15% {
        transform: translateY(0);
        opacity: 1;
    }

    /* 15% to 85%: Pause */
    85% {
        transform: translateY(0);
        opacity: 1;
    }

    /* 85% to 100%: Slide out */
    100% {
        transform: translateY(-100px);
        opacity: 0;
    }
}