
.nothing-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.nothing-block div {
    color: #aaa;
    margin-top: 10px;
    font-size: 20px;
}

.nothing-block i{
    display: inline-block;
    font-size: 50px;
    margin-top: 50px;
}