.post {
    border: 1px solid #bdbdbd;
    border-radius: 20px;
    margin-top: 15px;
}

.post .post-content {
    display: grid;
    grid-template-columns: auto auto;
    margin: 15px 30px 15px 15px ;
}

.post .profile {
    background: rgb(99, 22, 22);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: 10px;
}

.post .post-actions {
    margin: 15px;
}

.post .post-actions button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 70px;
    border: none;
    padding: 5px 20px;
    font-size: 18px;
    border-radius: 30px;
    margin-right: 5px;
}

.post .post-actions button span {
    text-align: center;
    color: #7d7676;
    font-weight: 600;
}

.post .post-actions button span.gap {
    width: 5px;
}

.icon i {
    vertical-align: middle;
}

.post .username {
    font-weight: 600;
}
