.embed {
    padding: 10px;
    background: linear-gradient(90deg, #fbc2d8, #fff4e0);
    border-radius: 10px;
    cursor: pointer;
}

.embed:hover {
    background: linear-gradient(90deg, #edb7cc, #e8decb);
}

.embed-album {
    display: flex;
    align-items: center;
}

.embed .icon {
    margin: 0 10px 0 5px;
    vertical-align: middle;
}

.embed .album-cover {
    background-color: beige;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    padding: 0;
    margin: 5px 20px 5px 5px;
}

.embed .album-cover img {
    width: inherit;
    height: inherit;
    border-radius: inherit;
    margin: 0;
}


.album-details span{
    line-height: 1.5em;
}

.embed .album-details .album-title{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

