.visible {
    visibility: visible;
}

.hidden {
    visibility: none;
}

.post {
    border: 1px solid #bdbdbd;
    color: black;
    border-radius: 20px;
    margin-top: 15px;
    position: relative;
}

.post .options {
    position: absolute;
    font-size: 24px;
    top: 18px;
    right: 22px;
    color: #7d7676;
    cursor: pointer;
}

.post .options-modal {
    position: absolute;
    right: 20px;
    top: 45px;
}

.post .options-modal ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 150px;
    background-color: white;
    border-radius: 10px;
    overflow-x: hidden;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.4);  /* box-shadow: [offset-x] [offset-y] [blur-radius] [spread-radius] [color] [inset]; */
}

.post .options-modal li {
    display: block;
    margin: 6px;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.post .options-modal li:hover {
    background: #dedede;
}

.post .options-modal li:active {
    background: #bdbdbd;
}

.post .options-modal i {
    margin-right: 10px;
}

.post .options:hover {
    color: #a69e9e;
}

.post .options:active {
    color: #948b8b;
}

.post .post-content {
    display: grid;
    grid-template-columns: auto 1fr;
    margin: 15px 30px 15px 15px ;
}

.post .profile {
    background: rgb(99, 22, 22);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: 10px;
}

.post .profile img {
    width: inherit;
    height: inherit;
    border-radius: inherit;
}

/* Text Styling */
.post .review-details * {
    margin-top: 10px
}

.post .username:hover {
    cursor: pointer;
    color: #7d7676;
}

.post .title {
    font-size: 24px;
    font-weight: 600;
}

.post .rating i{
    color: #ffb000;
    font-size: 1.3em;
    margin-right: 5px;
}

.post .rating i.grey {
    color: gray;
}

.post .description {
    margin: 20px 0;
}

/* React Buttons */
.post .post-actions {
    margin: 15px;
}

.post .post-actions .post-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 70px;
    background-color: #eeeeee;
    padding: 5px 20px;
    font-size: 18px;
    border-radius: 30px;
    margin-right: 5px;
    cursor: pointer;

    transition: 0.2s;
}

.post .post-btn span {
    text-align: center;
    color: #7d7676;
    font-weight: 600;
}

.post .post-btn  span.gap {
    width: 5px;
}

.post-btn i {
    vertical-align: middle;
}

.post-btn.heart:hover, .post-btn.dislike:hover, .post-btn.share:hover {
    background: #dedede;
}

.post-btn.heart.active {
    background: #f2bed0;
}

.post-btn.heart.active span {
    color: #a11547;
}

.post-btn.dislike.active {
    background: #ffdac2;
}

.post-btn.dislike.active span {
    color: #ff751f;
}

.post .username {
    font-weight: 600;
}
