.search-container {
    position: relative;
    margin-bottom: 30px;
}

.search-container input {
    width: 100%;
    padding: 12px 20px 12px 45px;
    border-radius: 25px;
    border: 1px solid #df6490;
    background: #FFF;
    color: #000;
    outline: none;
}

.search-icon {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #df6490;
}

.song-icon, .album-icon {
    left: 20px;
    top: 50%;
    color: #df6490;
}

.search-parent {
    position: relative;
    width: 100%;
}

.search-results {
    position: absolute;
    top: 70%; 
    left: 0;
    right: 0;
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2); 
    z-index: 9999;    
    max-height: 250px;
    overflow-y: auto; 
}

.result-item {
    display: flex;
    padding: 12px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    transition: background 0.2s;
    gap: 10px;
}

.result-item:hover {
    background-color: #f8f9fa;
}

.res-title {
    font-weight: 600;
}

.res-subtitle {
    color: rgb(152, 152, 152);
    font-style: italic;
    font-size: smaller;
    line-height: 20px;
}


/* Review Search Bar Modifications */
.review-search-clear {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--primary-main);
    color: var(--primary-light);
    text-align: center;
}