.nav-container {
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 10px 0 0 0;
    background-color: white;
}

nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    height: 70px;
    background: linear-gradient(135deg,#a11547, #5c0627);
    
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    /* box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5); */
    color: white;
}

nav div {
    margin: 0 15px;
}

.buttons {
    align-items: center;
    justify-content: space-around;
    width: 100px;
}

#notifications {
    position: relative;
    display: inline-block;
    font-size: 30px;
}

#notifications::after {
    content: "";
    position: absolute;
    right: 30;

    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    z-index: 10
}

#profile-pic {
    background: white;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    cursor: pointer;
}

#profile-pic img {
    width: inherit;
    height: inherit;
    border-radius: inherit;
    border: solid 1px white;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 80px; 
    width: auto;
    object-fit: contain;
    margin-top: 40px;
}


.profile-settings-modal {
    position: absolute;
    top: 60px;
    right: 13px;
    z-index: 1000;
}

.profile-settings-modal ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 220px;
    background-color: white;
    border-radius: 10px;
    overflow-x: hidden;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.4);  /* box-shadow: [offset-x] [offset-y] [blur-radius] [spread-radius] [color] [inset]; */
    color: black;
}

.profile-settings-modal li {
    display: flex;
    align-items: center;
    margin: 6px;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.profile-settings-modal li:hover {
    background: #dedede;
}

.profile-settings-modal li:active {
    background: #bdbdbd;
}

.profile-settings-modal .username {
    text-align: left;
    font-weight: 600;
}

.profile-settings-modal .profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 0;
}

.profile-settings-modal img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 0;
    background-color: #5c0627;
}