.embed {
    padding: 10px;
    background: linear-gradient(90deg, #fbc2d8, #fff4e0);
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(158, 156, 156, 0.3);
    margin-bottom: 15px;

}

.embed:hover {
    background: var(--gr-secondary);
}

.embed-album {
    display: flex;
    align-items: center;
}

.embed .icon {
    margin: 0 10px 0 5px;
}

.embed .album-cover {
    background-color: beige;
    width: 75px;
    height: 75px;
    border-radius: 5px;
    padding: 0;
    margin: 5px 20px 5px 5px;
}

.embed .album-cover img {
    width: inherit;
    height: inherit;
    border-radius: inherit;
    margin: 0;
}


.album-details span{
    font-size: var(--fs-sm);
    line-height: var(--lh-single);
    color: #420b0b;
}

.embed .album-details .album-title{
    font-size: var(--fs-lg);
    font-weight: 600;
}

.embed .line {
    display: flex;
    align-items: center;
    margin-left: 3px;
}

.embed .line-title {
    margin: 0 5px 5px 0;
}
