@font-face {
  font-family: "Carollo Playscript";
  src: url("https://eepy-elo.github.io/font-hosting/Carollo%20Playscript%20Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Carollo Playscript";
  src: url("https://eepy-elo.github.io/font-hosting/Carollo%20Playscript%20Medium%20Italic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}