@font-face {
  font-family: "Carollo Playscript";
  src: url("https://eepy-elo.github.io/font-hosting/Carollo%20Playscript%20Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Carollo Playscript";
  src: url("https://eepy-elo.github.io/font-hosting/Carollo%20Playscript%20Medium%20Italic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Now";
  src: url("https://jesmaeca.github.io/font-hosting/Helvetica/HelveticaNowText-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Now";
  src: url("https://jesmaeca.github.io/font-hosting/Helvetica/HelveticaNowText-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Now";
  src: url("https://jesmaeca.github.io/font-hosting/Helvetica/HelveticaNowText-ExtLtIta.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Now";
  src: url("https://jesmaeca.github.io/font-hosting/Helvetica/HelveticaNowText-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Now";
  src: url("https://jesmaeca.github.io/font-hosting/Helvetica/HelveticaNowText-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Now";
  src: url("https://jesmaeca.github.io/font-hosting/Helvetica/HelveticaNowText-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Now";
  src: url("https://jesmaeca.github.io/font-hosting/Helvetica/HelveticaNowText-RegIta.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Now";
  src: url("https://jesmaeca.github.io/font-hosting/Helvetica/HelveticaNowText-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Now";
  src: url("https://jesmaeca.github.io/font-hosting/Helvetica/HelveticaNowText-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Now";
  src: url("https://jesmaeca.github.io/font-hosting/Helvetica/HelveticaNowText-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Now";
  src: url("https://jesmaeca.github.io/font-hosting/Helvetica/HelveticaNowText-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Now";
  src: url("https://jesmaeca.github.io/font-hosting/Helvetica/HelveticaNowText-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Now";
  src: url("https://jesmaeca.github.io/font-hosting/Helvetica/HelveticaNowText-ExtBdIta.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Now";
  src: url("https://jesmaeca.github.io/font-hosting/Helvetica/HelveticaNowText-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Now";
  src: url("https://jesmaeca.github.io/font-hosting/Helvetica/HelveticaNowText-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}
