@import url("./fonts.css");
@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../node_modules/@syncfusion/ej2-richtexteditor/styles/material.css";

:root {
  color-scheme: light dark;
  color: black;
  background-color: #ffffff;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* typography */
  --font-primary:  "Helvetica Now", "Carollo Playscript", Arial, sans-serif;

  /* font size */
  --fs-xs: 0.7rem;
  --fs-sm: 0.8125rem;
  --fs-md: 0.875rem;
  --fs-lg: 1.125rem;
  --fs-xl: 1.375rem;
  --fs-xxl: 1.75rem;
  --fs-xxxl: 2rem;

  /* letter spacing */
  --ls-very-tight: -0.06em;
  --ls-tight: -0.02em;
  --ls-normal: 0;

  /* Brand colors */
  --primary-main: #a11547;    
  --primary-light: #fdf2f4;  
  --primary-dark:  #5c0627; 
  --secondary-main: #df6490; 
  --secondary-light: #f7dae4; 
  --secondary-lighter: #faeaef; 
  --tertiary-main:#9e005d;
  --accent-main: #cf3f4c;

  /* Neutrals */
  --bg-main: #ffffff;      
  
  /* Gradients */
  --gr-primary: linear-gradient(135deg,#a11547, #5c0627);
  --gr-secondary: linear-gradient(90deg, #edb7cc, #e8decb);
  --gr-accent: linear-gradient(to right, #9e005d, #ff5757, #9e005d);

  /* Text & Contrast */
  --text-main: #1a1a1a;      
  --text-muted: #535353;   
  --text-contrast: #ffffff;
  --text-contrast-dark: #aaa;   
  --text-brand: #420b0b;
  --text-brand-muted: #b4446c;
  
  
  /* UI Elements */
  --border-light: #e2e8f0;   /* Very subtle borders */
  --border-medium: #cbd5e1;  /* For input fields */
  
  /* Status */
  --success-light: #d4edda;
  --success-dark: #155724;
  --error-light: #f8d7da;
  --error-dark: #721c24;
}

* {
  box-sizing: border-box; 
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* optional, for full height layouts */
  overflow-x: hidden;
  overflow-y: auto;

  font-family: var(--font-primary);
  font-size: var(--ls-tight);
  
}

.flex {
  display: flex;
}

.f-center {
  align-items: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: black;
    background-color: #ffffff;
  }
}
