@import url("./fonts.css");

:root {
  color-scheme: light dark;
  color: black;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* typography */
  --font-primary:  Helvetica, "Carollo Playscript", Arial, sans-serif;

  /* font size */
  --fs-xs: 0.75rem;
  --fs-sm: 0.875rem;
  --fs-md: 1rem;
  --fs-lg: 1.25rem;
  --fs-xl: 1.5rem;

  /* letter spacing */
  --ls-very-tight: -0.06em;
  --ls-tight: -0.02em;
  --ls-normal: 0;
}

* {
  box-sizing: border-box; 
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* optional, for full height layouts */
  overflow-x: hidden;
  overflow-y: auto;

  font-family: var(--font-primary);
  font-size: var(--ls-tight);
}

.flex {
  display: flex;
}

.f-center {
  align-items: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: black;
    background-color: #ffffff;
  }
}
